<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reqregisterServlet</servlet-name>
        <servlet-class>reqregisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actionreqServlet</servlet-name>
        <servlet-class>actionreqServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actionreqServlet2</servlet-name>
        <servlet-class>actionreqServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setupfypServlet</servlet-name>
        <servlet-class>setupfypServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managefypServlet</servlet-name>
        <servlet-class>managefypServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actionreqServlet3</servlet-name>
        <servlet-class>actionreqServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addfypServlet</servlet-name>
        <servlet-class>addfypServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletefypServlet</servlet-name>
        <servlet-class>deletefypServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatefypServlet</servlet-name>
        <servlet-class>updatefypServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatefypServlet2</servlet-name>
        <servlet-class>updatefypServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateaccServlet</servlet-name>
        <servlet-class>updateaccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateaccServlet2</servlet-name>
        <servlet-class>updateaccServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checktitleServlet</servlet-name>
        <servlet-class>checktitleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proposetitleServlet</servlet-name>
        <servlet-class>proposetitleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proposeNow</servlet-name>
        <servlet-class>proposeNow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requesttitleServlet</servlet-name>
        <servlet-class>requesttitleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actionbookServlet</servlet-name>
        <servlet-class>actionbookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actionbookServelt1</servlet-name>
        <servlet-class>actionbookServelt1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actionbookServlet2</servlet-name>
        <servlet-class>actionbookServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewsuperviseServlet</servlet-name>
        <servlet-class>viewsuperviseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>approvedServlet</servlet-name>
        <servlet-class>approvedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reqregisterServlet</servlet-name>
        <url-pattern>/reqregisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actionreqServlet</servlet-name>
        <url-pattern>/actionreqServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actionreqServlet2</servlet-name>
        <url-pattern>/actionreqServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setupfypServlet</servlet-name>
        <url-pattern>/setupfypServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managefypServlet</servlet-name>
        <url-pattern>/managefypServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actionreqServlet3</servlet-name>
        <url-pattern>/actionreqServlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addfypServlet</servlet-name>
        <url-pattern>/addfypServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletefypServlet</servlet-name>
        <url-pattern>/deletefypServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatefypServlet</servlet-name>
        <url-pattern>/updatefypServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatefypServlet2</servlet-name>
        <url-pattern>/updatefypServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateaccServlet</servlet-name>
        <url-pattern>/updateaccServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateaccServlet2</servlet-name>
        <url-pattern>/updateaccServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checktitleServlet</servlet-name>
        <url-pattern>/checktitleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proposetitleServlet</servlet-name>
        <url-pattern>/proposetitleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proposeNow</servlet-name>
        <url-pattern>/proposeNow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requesttitleServlet</servlet-name>
        <url-pattern>/requesttitleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actionbookServlet</servlet-name>
        <url-pattern>/actionbookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actionbookServelt1</servlet-name>
        <url-pattern>/actionbookServelt1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actionbookServlet2</servlet-name>
        <url-pattern>/actionbookServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewsuperviseServlet</servlet-name>
        <url-pattern>/viewsuperviseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>approvedServlet</servlet-name>
        <url-pattern>/approvedServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>approvedServlet</welcome-file>
    </welcome-file-list>
</web-app>
